Python 3 POCL:
  script: |
    export PY_EXE=python3
    export PYOPENCL_TEST=portable:pthread
    # cython is here because pytential (for now, for TS) depends on it
    export EXTRA_INSTALL="pybind11 cython numpy mako mpi4py oct2py"
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
    . ./build-and-test-py-project.sh
  tags:
  - python3
  - pocl
  - mpi
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 Nvidia Titan V:
  script: |
    export PY_EXE=python3
    export PYOPENCL_TEST=nvi:titan
    export EXTRA_INSTALL="pybind11 cython numpy mako oct2py"
    # cython is here because pytential (for now, for TS) depends on it
    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project.sh
    . ./build-and-test-py-project.sh
  tags:
  - python3
  - nvidia-titan-v
  except:
  - tags
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 POCL Examples:
  script:
  - test -n "$SKIP_EXAMPLES" && exit
  - export PY_EXE=python3
  - export PYOPENCL_TEST=portable:pthread
  # cython is here because pytential (for now, for TS) depends on it
  - export EXTRA_INSTALL="pybind11 cython numpy mako matplotlib"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-py-project-and-run-examples.sh
  - ". ./build-py-project-and-run-examples.sh"
  tags:
  - python3
  - pocl
  - large-node
  except:
  - tags

Python 3 POCL Firedrake:
  tags:
  - "docker-runner"
  image: "firedrakeproject/firedrake"
  script:
  - . .ci/install-for-firedrake.sh
  - cd test
  - python -m pytest --tb=native --junitxml=pytest.xml -rxsw test_firedrake_interop.py
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 POCL Firedrake Examples:
  tags:
  - "docker-runner"
  image: "firedrakeproject/firedrake"
  script:
  - . .ci/install-for-firedrake.sh
  - . ./.ci/run_firedrake_examples.sh
  artifacts:
    reports:
      junit: test/pytest.xml

Python 3 Conda:
  script: |
    CONDA_ENVIRONMENT=.test-conda-env-py3.yml
    export MPLBACKEND=Agg

    curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-and-test-py-project-within-miniconda.sh
    . ./build-and-test-py-project-within-miniconda.sh
  tags:
  # - docker-runner
  - linux
  - large-node
  except:
  - tags

Documentation:
  script:
  - EXTRA_INSTALL="pybind11 cython numpy"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-docs.sh
  - ". ./build-docs.sh"
  tags:
  - python3

Flake8:
  script:
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-flake8.sh
  - . ./prepare-and-run-flake8.sh "$CI_PROJECT_NAME" test examples
  tags:
  - python3
  except:
  - tags

Pylint:
  script:
  - export PY_EXE=python3
  - EXTRA_INSTALL="Cython pybind11 numpy mako matplotlib"
  - curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-pylint.sh
  - . ./prepare-and-run-pylint.sh "$CI_PROJECT_NAME" examples/*.py test/test_*.py
  tags:
  - python3
  except:
  - tags
