include doc/*.rst
include doc/*.sh
include doc/Makefile

include test/*.step
include test/*.sh
include test/annulus.msh
include test/blob2d*.msh
include test/cubed-cube.msh
include test/gh-394.msh
include test/hybrid-cube.msh
include test/ref-*.pvtu

prune .ci
prune .github
exclude .gitignore
exclude .gitlab-ci.yml
