numpy
git+https://gitlab.tiker.net/inducer/pytools.git
git+https://gitlab.tiker.net/inducer/gmsh_interop.git
git+https://gitlab.tiker.net/inducer/modepy.git
git+https://gitlab.tiker.net/inducer/pyopencl.git@better-empty-handling
git+https://gitlab.tiker.net/inducer/islpy.git


# required by pytential, which is in turn needed for some tests
git+https://gitlab.tiker.net/inducer/pymbolic.git

# also depends on pymbolic, so should come after it
git+https://gitlab.tiker.net/inducer/loopy.git@empty-ndrange-enqueue

# more pytential dependencies
git+https://gitlab.tiker.net/inducer/boxtree.git
git+https://gitlab.tiker.net/inducer/sumpy.git
git+https://gitlab.tiker.net/inducer/pytential.git@array-context

# requires pymetis for tests for partition_mesh
git+https://gitlab.tiker.net/inducer/pymetis.git
