numpy
git+https://github.com/inducer/meshpy.git
git+https://github.com/inducer/modepy.git
git+https://github.com/pyopencl/pyopencl.git
git+https://github.com/inducer/islpy.git
git+https://github.com/inducer/loopy.git

# required by pytential, which is in turn needed for some tests
git+https://github.com/inducer/boxtree.git
git+https://github.com/inducer/sumpy.git
git+https://github.com/inducer/pytential.git
