name: CI
on:
    push:
        branches:
        - master
    pull_request:
    schedule:
        - cron:  '17 3 * * 0'

jobs:
    flake8:
        name: Flake8
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -
            uses: actions/setup-python@v1
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/prepare-and-run-flake8.sh
                . ./prepare-and-run-flake8.sh "$(basename $GITHUB_REPOSITORY)" test examples

    pytest3:
        name: Pytest Conda Py3
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            run: |
                sudo apt update
                sudo apt install octave openmpi-bin libopenmpi-dev libhdf5-dev

                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                export MPLBACKEND=Agg
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ./ci-support.sh
                build_py_project_in_conda_env
                with_echo python -m pip install mpi4py
                test_py_project

    firedrake:
        name: Pytest Firedrake
        runs-on: ubuntu-latest
        container:
            image: 'firedrakeproject/firedrake'
        steps:
        -   uses: actions/checkout@v1
        -   name: "Dependencies"
            run: |
                . .ci/install-for-firedrake.sh
        -   name: "Test"
            run: |
                . /home/firedrake/firedrake/bin/activate
                cd test
                python -m pytest --tb=native -rxsw test_firedrake_interop.py

    firedrake_examples:
        name: Examples Firedrake
        runs-on: ubuntu-latest
        container:
            image: 'firedrakeproject/firedrake'
        steps:
        -   uses: actions/checkout@v1
        -   name: "Dependencies"
            run: |
                . .ci/install-for-firedrake.sh
        -   name: "Examples"
            run: |
                . /home/firedrake/firedrake/bin/activate
                . ./.ci/run_firedrake_examples.sh

    examples3:
        name: Examples Conda Py3
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            run: |
                export MPLBACKEND=Agg
                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                USE_CONDA_BUILD=1
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/build-py-project-and-run-examples.sh
                . ./build-py-project-and-run-examples.sh

    docs:
        name: Documentation
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -
            uses: actions/setup-python@v1
            with:
                python-version: '3.x'
        -   name: "Main Script"
            run: |
                CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ci-support.sh
                build_py_project_in_conda_env
                conda install graphviz

                # Work around
                # intersphinx inventory 'https://firedrakeproject.org/objects.inv' not fetchable
                # by deleting all the Firedrake stuff
                rm -Rf meshmode/interop/firedrake
                sed -i '/firedrakeproject/d' doc/conf.py
                sed -i '/interop/d' doc/index.rst
                rm doc/interop.rst

                build_docs

    downstream_tests:
        strategy:
            matrix:
                downstream_project: [grudge, pytential, mirgecom]
        name: Tests for downstream project ${{ matrix.downstream_project }}
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
        -   name: "Main Script"
            env:
                DOWNSTREAM_PROJECT: ${{ matrix.downstream_project }}
            run: |
                if test "$DOWNSTREAM_PROJECT" = "mirgecom"; then
                    git clone "https://github.com/illinois-ceesd/$DOWNSTREAM_PROJECT.git"
                else
                    git clone "https://github.com/inducer/$DOWNSTREAM_PROJECT.git"
                fi

                cd "$DOWNSTREAM_PROJECT"
                echo "*** $DOWNSTREAM_PROJECT version: $(git rev-parse --short HEAD)"

                sed -i "/egg=meshmode/ c git+file://$(readlink -f ..)#egg=meshmode" requirements.txt

                if test "$DOWNSTREAM_PROJECT" = "pytential"; then
                    grep -v symengine .test-conda-env-py3.yml > .test-conda-env.yml
                    export CONDA_ENVIRONMENT=.test-conda-env.yml
                else
                    export CONDA_ENVIRONMENT=.test-conda-env-py3.yml
                fi

                # Avoid slow or complicated tests in downstream projects
                export PYTEST_ADDOPTS=${PYTEST_ADDOPTS:--k-slowtest --k-octave --k-mpi}

                curl -L -O -k https://gitlab.tiker.net/inducer/ci-support/raw/master/ci-support.sh
                . ./ci-support.sh
                build_py_project_in_conda_env
                test_py_project

# vim: sw=4
